<?xml version="1.0"?>
<configuration>

  <appSettings>
    
    <add key="SessionLastActivityUpdateMinutes" value="1" />
    
    <add key="SessionTimeoutMinutes" value="60" />
    
    
    <add key="MercuryEnterprise.SqlConnection.serverName"     value="(local)" />
    
    <add key="MercuryEnterprise.SqlConnection.databaseName"   value="MercuryEnterprise"    />
    
    <add key="MercuryEnterprise.SqlConnection.poolingEnabled" value="True"      />
    
    <add key="MercuryEnterprise.SqlConnection.minPoolSize"    value="25"         />
    
    <add key="MercuryEnterprise.SqlConnection.maxPoolSize"    value="99"          />

    <add key="MercuryEnterprise.SqlConnection.trustedConnection" value="false" />
    
    <add key="MercuryEnterprise.SqlConnection.userName" value="mercurysa"      />
    
    <add key="MercuryEnterprise.SqlConnection.password" value="mercury"        />


    <add key="CacheExpirationDataSeconds" value="60" />

    <add key="CacheExpirationReferenceSeconds" value="120" />
    

    <add key="UseFormControlEventHandlerCaching" value="true" />

  </appSettings>
  
  
  <system.diagnostics>

    <switches>

      <add name="General" value="0" />

      <add name="Security" value="0" />

      <add name="Workflow" value="0" />
            
    </switches>

    <trace autoflush="true">

      <listeners>

        <add name="MercuryServerListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Mercury2.Server.Trace.Log" />

      </listeners>

    </trace>
    
  </system.diagnostics>
  
  
  <system.web>

    <customErrors mode="Off" />
    
    <authentication mode="Windows"></authentication>

    <identity impersonate="true" />
    
    <compilation debug="true" targetFramework="4.0" />

    <sessionState mode="StateServer" />
    
  </system.web>
  
  
  <system.serviceModel>

    <bindings>

      <basicHttpBinding>

        <binding name="BasicHttpBindingSettings" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered">

          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />

        </binding>

        <binding name="SilverlightBasicHttpBindingSettings" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered">

          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />

          <security mode="TransportCredentialOnly">

            <transport clientCredentialType="Ntlm"></transport>
            
          </security>

        </binding>

      </basicHttpBinding>

      <wsHttpBinding>

        <binding name="WsHttpBindingSettings" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">

          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />

        </binding>

      </wsHttpBinding>

      <netTcpBinding>

        <binding name="NetTcpBindingSettings"  maxReceivedMessageSize="2147483647" portSharingEnabled="true">

          <reliableSession enabled="true" />


          <security mode="Message" >

            <transport clientCredentialType="Windows" />

            <message clientCredentialType="Windows" algorithmSuite="Default" />

          </security>

          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />

        </binding>

      </netTcpBinding>

      <mexTcpBinding>
        
        <binding name="MexTcpBindingSettings" />
        
      </mexTcpBinding>

      <customBinding>

        <binding name="BinaryHttpBindingSettings">

          <binaryMessageEncoding />

          <httpTransport />

        </binding>

      </customBinding>

    </bindings>

    
    <behaviors>
      
      <serviceBehaviors>
        
        <behavior>
          
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          
          <serviceMetadata httpGetEnabled="true"/>
          
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          
          <serviceDebug includeExceptionDetailInFaults="false"/>
         
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />

        </behavior>

        <behavior name="DefaultBehavior">

          <serviceMetadata httpGetEnabled="true" />

          <serviceDebug includeExceptionDetailInFaults="true" />

          <dataContractSerializer maxItemsInObjectGraph="2147483647" />

        </behavior>

        <behavior name="DefaultBehaviorTcp">

          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />

          <serviceDebug includeExceptionDetailInFaults="true" />

          <dataContractSerializer maxItemsInObjectGraph="2147483647" />

        </behavior>
        
      </serviceBehaviors>
      
    </behaviors>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />


    <services>

      <service name="Mercury.Server.Services.Enterprise.Security" behaviorConfiguration="DefaultBehavior">

        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingSettings" contract="Mercury.Server.Services.Enterprise.ISecurity" />

        <endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="WsHttpBindingSettings" contract="Mercury.Server.Services.Enterprise.ISecurity" />

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

        <endpoint address="/silverlight" binding="basicHttpBinding" bindingConfiguration="SilverlightBasicHttpBindingSettings" contract="Mercury.Server.Services.Enterprise.ISecurity" />
        
        <endpoint address="/silverlight/mex" binding="mexHttpBinding" contract="IMetadataExchange" />

        <!-- 
				
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBindingSettings" contract="Mercury.Server.Services.Enterprise.ISecurity" />

				<endpoint address="mextcp" binding="mexTcpBinding" contract="IMetadataExchange" />

				-->

      </service>

      <service name="Mercury.Server.Services.Core.Application" behaviorConfiguration="DefaultBehavior">

        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingSettings" contract="Mercury.Server.Services.Core.IApplication" />

        <endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="WsHttpBindingSettings" contract="Mercury.Server.Services.Core.IApplication" />

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

        <!-- 
				
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBindingSettings" contract="Mercury.Server.Services.Core.IApplication" />

				<endpoint address="mextcp" binding="mexTcpBinding" contract="IMetadataExchange" />

				-->

      </service>

    </services>
    
  </system.serviceModel>
  
  
 <system.webServer>
   
    <modules runAllManagedModulesForAllRequests="true"/>

   <validation validateIntegratedModeConfiguration="false"/>
   
  </system.webServer>
    
</configuration>
